body {
    background-color: rgb(27, 27, 27);
    background-image: url("../public/desktop-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
::selection{
    background-color: rgb(207, 14, 255, 0.5);
}

@media (max-width: 768px) {
    body {
    background-image: url("../public/mobile-bg.jpg");
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
    background-image: url("../public/tablet-bg.jpg");
    }
}

@media (min-width: 1024px) {
    body {
    background-image: url("../public/desktop-bg.jpg");
    }
}